.format-switcher {
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin-bottom: $margin-base;
    border-radius: $border-radius-small;
    overflow: hidden;
    margin-left: auto;
}

.format-switcher__item {
    input[type=radio] {
        display: none;
    }

    input[type=radio]:checked+label {
        background-image: $color-background-button-primary;
        color: $color-text-on-brand;
        text-shadow: $text-shadow-on-brand;
    }

    label {
        display: block;
        padding: $padding-smal;
        font-size: $font-size-normal;
        background-color: #f0f0f0;
        color: $color-text-primary;
        cursor: pointer;
        transition: background-color 0.4s ease, color 0.2s ease;

        &:hover {
            background-color: $color-background-interactive;
        }
    }

}