.paint-brush-indicator {
    position: fixed;
    anchor-name: --brush;
    width: 4rem;
    height: 4rem;
    top: 2rem;
    right: 2rem;
    z-index: $paint-brush-index;
    background-color: $color-background-brush;
    backdrop-filter: blur(10px);
    padding: $space-s;
    border-radius: 50%;
    box-shadow: $brush-shadow;

    transform: translateX(200%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: none;

    &.is-active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    &__reset {
        position-anchor: --brush;
        top: anchor(top);
        right: anchor(right);
        transform: translate(50%, -50%);
        background: none;
        border: none;
        font-size: 1.5rem;
        line-height: .5;
        color: $color-button-reset;
        cursor: pointer;
        padding: 0;
        position: absolute;
    }
}

.eyedropper-icon {
    width: 3rem;
    height: 3rem;
}

.eyedropper__body {
    stroke: $color-stroke-svg;
    stroke-width: 1;
}

.eyedropper__color {
    stroke: $color-stroke-svg;
    fill: $color-fill-svg;
    stroke-width: .5;
    transition: fill 0.5s ease;
}