.toast-container {
    position: fixed;
    top: $toast-top;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-base;
    width: $toast-width;
    margin: $margin-center;
    z-index: $toast-index;
}

.toast {
    padding: $padding-base;
    border-radius: $border-radius-small;
    color: $color-text-on-brand;
    box-shadow: $box-shadow-toast;
    transform: $toast-starting-point;

    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;

    &--success {
        background-color: $color-background-success;
    }

    &--error {
        background-color: $color-background-error;
    }

    &--info {
        background-color: $color-background-info;
    }

    &.show {
        transform: translateX(0);
        opacity: 1;
    }
}