.export-panel {
    position: fixed;
    z-index: calc($export-panel-index + 1);
    background-color: $color-background-panel;
    box-shadow: $box-shadow-export-panel;

    bottom: 0;
    left: 0;
    width: 100%;
    max-height: $export-panel-height;
    padding: $padding-big;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;

    transform: translateY(120%);
    transition: transform 0.3s ease-out;


    @include media(lg) {
        opacity: 0;
        bottom: auto;
        width: auto;
        min-width: 450px;
        max-width: 90vw;
        height: auto;
        border-radius: $border-radius-base;

        top: 50%;
        left: 50%;


        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.95);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    }

    &.is-active {
        transform: translateY(0);

        @include media(lg) {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        color: $color-text-secondary;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-base;
        font-size: $font-size-normal;
    }

    &__close-btn {
        font-size: 2rem;
        border: 0;
        background-color: transparent;
        color: $color-text-secondary;
        cursor: pointer;
    }

    &__code-wrapper {
        border: 1px solid $color-border-interactive;
        border-radius: $border-radius-small;
        padding: $padding-button;
        color: $color-text-secondary;
    }
}

#export-css-btn {

    @include media(lg) {
        @include app-action-lg;
    }

    @include media(xl) {
        @include app-action-xl;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-background-overlay;
    z-index: $export-panel-index;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}